.wrapper{
    display: flex;
    width: 99%;
    flex-direction: column;
}
.blogcontainer{
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px; 
       
}

.blogcontainer h2{
    padding-top: 2px;
    font-size: 25px;
}
.blogcontainer p{
    font-size: 18px;
    padding:10px 10px 10px 10px;
}

.morePosts{
    max-width: 150px;
    height: 60px;
    background-color: white;
    align-self: center;
    margin-top: 10px;
}

.content-card-1{
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .blogcontainer {
      grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 500px) {
    .blogcontainer {
      grid-template-columns: 1fr;
    }
}