.wrapper {
    display: flex;
    width: 99%;
    flex-direction: column;
    align-items: center;
}

 
.blogcontainer {
    width: 90%;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;       
}


.blogPostWrapper {
    display: flex;
    flex-direction: column;
    border:lightblue 2px solid;
    background-color: #ddeef2;
}


.blogcontainer a {
    padding: 5px; 
}


.blogcontainer h2 {
    font-size: 25px;
}


.blogcontainer p {
font-size: 18px;
margin: 0 auto;
}


h3{
    font-size: 15px;
}

.morePosts {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    height: 70px;
    background-color: white;
    align-items: center;
    margin: 10px;
    padding: 10px;
}


.morePosts:hover {
    background-color:rgb(239, 232, 232) ;   
}


.morePosts i {
    margin:5px;   
}


.content-card-1 {
    display: flex;
    max-width: 500px;
}


.text-content {
    padding: 1px 5px 1px 5px;
    margin-top: 0px;
    flex-direction: column;
    background-color: #ddeef2;
    color: var(--font-color);
    max-width:500px;
    display: flex;
}


.imagecontainer {
    max-width: 490px;
}


#image {
    object-fit:cover;
    margin-bottom: auto;
}



.readmore {
    font-family:var(--fontButton);
    letter-spacing: 1px;
    color: var(--font-color);
    font-size: 20px;
    text-align: right;
    color: var(--font-color);
    margin-right:15px;
}


.readmore:hover {
    color: rgb(101, 93, 93);
}



.readmore i{
    margin: 5px;
}


@media only screen and (max-width: 1000px) {
    .blogcontainer {
        grid-template-columns: 45% 45%;
    }
}


@media only screen and (max-width: 500px) {
    .blogcontainer {
        grid-template-columns: 95%;
    }

    .blogcontainer h2{
        font-size: 20px;
    }
    .blogcontainer p{
        font-size: 15px;
    }
}