
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(../images/dan-gold-4_jhDO54BYg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 auto;
}

#contactForm {
    max-width: 100%;
    justify-content: center;
    left: 50%;
    margin:40px;
    box-shadow: 0,5px 0,5px 0,5px black;
    background-color: white;
    padding: 25px;
}

.message {
    max-width: 95%;
    box-sizing: border-box;
}

#messagebox textarea {
    max-width: 95%;
}

 h2 {
    font-size: 40px;
 }

 .titleerror h2 {
    font-size: 20px;
 }

 .home h2 {
font-size: 15px;
 }


#sendMessage {
    background-color: var(--buttonGreen);
    border: solid #DBEDF3 1px;
    width: 350px;
    height: 50px;
    margin: 30px 0px 30px 0px;
    display: block;
    border-radius: 20px;
    font-family: var(--fontButton);
    font-size: 15px;
    font-weight: bold;
}

#sendMessage:hover {
    background-color: var(--buttonGreenHover);
}

.questions {
    background-color: var(--orange);
    padding: 30px;
    margin: 20px;
    border: white 8px dotted; 
}

h3 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.questions p {
    font-size: 16px;
}

p {
    font-size: 12px;
}


.contact-form {
    display: flex;
    flex-direction: row;
    max-width: 80%;
}

.form-validated {
    display: none;
    position: absolute;
    left: 25%;
    top: 75%;
    padding: 20px;
    z-index: 8;
    border-radius: 2px;
    text-align:center;
    background-color:black;
    color: white;
    border: 2px white ;
} 

.form-validated i {
    display: block;
    font-weight: bold;
    color: green;
    margin: 10px;
}

#form_validated {
    display: none;
    position: absolute;
    left: 30%;
    top: 75%;
    padding: 40px;
    z-index: 8;
    border-radius: 2px;
    text-align:center;
    background-color:var(--lightBlue);
    color:white;
    border:solid 7px rgb(207, 240, 252) ;
} 
#form_validated i{
    margin-bottom: 10px;

}

.close-message{
    margin-top: 10px;
    font-size: 15px;
    font-family: var(--fontButton);
}

/* form valid*/
.form-error,
.email-error,
.subject-error,
.error {
    color: rgb(193, 40, 40);
    font-size: 15px;
    font-weight: bold;
}
.mailStatus {
    color: var(--font-color);
    background-color:var(--lightBlue);
    border-radius: 5px;
    border: solid 1px black;
    position: absolute;
    left: 30%;
    padding: 20px;
    width: 200px;
    text-align: center;
}


@media only screen and (max-width: 500px) {
    #contactForm{
        margin: 5px;
        padding: 10px;
    }

    #sendMessage{
        max-width: 200px;        
    }

    #messagebox{
        max-width: 200px;
    }
}

@media only screen and (max-width: 360px) {
    #messagebox{
        max-width: 150px;
    }  
}

@media only screen and (max-width: 300px) {
    #messagebox, 
    #subject,
    #email,
    #LastName,
    #FirstName
    {
      max-width: 50px;
    }  

    #sendMessage{
        width: 150px;        
    }
}