
.latest-posts {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 3px solid lightgray;
    padding: 10px;
    
}



.article {
    display: flex;
    flex-direction: column;
    box-shadow: 9px 4px 4px lightgray;
}

.article h2 {
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 0px;
}

.carousel {
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#latest-posts-heading{
    text-align: center;
    position: relative;
    background-color: #cbe4ed;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Caveat', cursive;
}
 
#arrow-left, #arrow-right {
    margin: 20px;
    color: black;
}
#arrow-left i:hover, #arrow-right i:hover{
    color: #226074;
}

.button {
    border: none;
    background-color:transparent;
}
.introduction{
    display: flex;
    flex-direction: row;
    background-color: orange;
    align-items: center;
    padding-left: 50px;
}


.imagecontainer{
    width:100%;
}
.description{
    background-color:#FFB733;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.description h1 {
    font-size: 25px;
    text-align: center;
    align-self: center;
    font-size: 50px;
   /* background-color: #0e2b34;*/
    padding: 10px;
    /*border: solid 2px #5fadc9;*/
    /*box-shadow: 5px 3px 3px #3e8ea9;*/
    /*border-radius: 10px;*/
    color: #250656;
}

.description {
    padding:10px;
    font-size: 20px;
}

.description p{
    text-align: left;
}


.recipes:hover{
    background-color: #cbe4ed;
}

@media only screen and (max-width:1270px) {
    .article h2 {
        font-size: 12px;
    }
    }


@media only screen and (max-width:1200px) {
.description h2{
    font-size: 30px;
}
.description p{
    display: none;
}
}
@media only screen and (max-width:1070px) {
    .description h2{
        font-size: 30px;
        background-color: orange;
    }
    .latest-posts {
        flex: 1;
    }
    .introduction{
        flex-direction: column;

    }

    }



