
.latest-posts {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 3px solid lightgray;
    padding: 10px;  
    
}



.article {
    display: flex;
    flex-direction: column;
    box-shadow: 9px 4px 4px lightgray;
}

.article h2 {
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 0px;
}

.carousel {
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#latest-posts-heading{
    text-align: center;
    position: relative;
    background-color: #cbe4ed;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Caveat', cursive;
}
 
#arrow-left, #arrow-right {
    margin: 10px;
    color: black;
}
#arrow-left i:hover, #arrow-right i:hover{
    color: #226074;
}

.button {
    border: none;
    background-color:transparent;
}
.introduction{
    display: flex;
    flex-direction: row;
    background-color: #ffa500;
    align-items: center;
    padding-left: 50px;
}

.readmore{
    width: 150px;
    height: 50px;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: var(--font-color);
    font-size: 15px;
    background-color: white;
    border: whitesmoke solid 2px; 
    margin: 7px;
    
}
.readmore:hover{
    background-color: #a9d5df;
}

.readmore i{
    margin:10px;
}

.imagecontainer{
    width:100%;
}
.description{
    background-color:#FFB733;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.description h1 {
    font-size: 25px;
    text-align: center;
    align-self: center;
    font-size: 50px;
    padding: 10px;
    color:var(--font-color);
}

.description {
    padding:10px;
    font-size: 20px;
}

.description p{
    text-align: left;
}


.recipes:hover{
    background-color: #cbe4ed;
}

@media only screen and (max-width:1270px) {
    .article h2 {
        font-size: 12px;
    }
    }


@media only screen and (max-width:1200px) {
.description h2{
    font-size: 30px;
}
.description p{
    display: none;
}
}
@media only screen and (max-width:700px) {
 .description h1{
        font-size: 25px;
        background-color: orange;
    }
    .description{
        background-color: orange;
    }

    .introduction{
        flex-direction: column;
        padding: 0px;

    }
    .carousel{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .latest-posts{
        flex-direction: row;
    }
   
.imagecontainer{
    display: none;
}

.recipes{
    max-width: 250px;
    font-size: 14px;
}
#latest-posts-heading{
    font-size: 28px;
}
.latest-posts{
    display: block;
    border:none;
}
#arrow-left, #arrow-right {
    margin: 4px;
    color: black;
    max-width: 7px;
}

.readmore{
    justify-self: center;
}


    }



